[Unit]
Description = Start ROS 2 Web UI
After = network.target

[Service]
ExecStart = user/local/bin/start_webui.sh
Restart = always

[Install]
WantedBy = multti-user.target